body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modal{
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.276);
    position: fixed;
    z-index: 1;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}
.modal-content{
    background-color: #fff;
    margin: 15% auto;
    padding: 15px;
    width: 30%;
    box-shadow: 3px 3px 3px #021c4480;
    height: 125px;
}
.table{
    text-align: center;
    background-color:#BAC4CB;
    color: #032742;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}
.t-row{
    background-color: #DEE3E6;
}

.t-row:nth-child(even){
    background-color: #fff;
}

.button-t{
    background-color: inherit;
    font-weight: bold;
    font-size: large;
    padding: 2px;
    margin: 0px 5px;
    border: none;
    cursor: pointer;
}

.t-head{
    font-size: larger;
}

.close-button{
    float: right;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
}
.text{
    margin:auto;
    margin-bottom: 10px;
    width: 90%;
    color: #032742;
    font-weight: bolder;
    font-size: larger;
}

.inputs{
    width: 90%;
    margin: auto;
}

.button{
    border: none;
    cursor: pointer;
    width: 25%;
    height: 20px;
    background-color: #294c68;
    color: #fff;
    border-radius: 3px;
    margin-top: 4px;
}

.button-d{
    border: none;
    cursor: pointer;
    width: 25%;
    height: 23px;
    background-color: #294c68;
    color: #fff;
    font-size: large;
    border-radius: 3px;
    float: right;
}

.input{
    width: 70%;
    margin: auto;
    margin-top: 4px;
}